<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Group Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/cars_cats_styles.css">
  </head>
  <body>
    <div class="WRAPPER">
      <div class="header">
        <div class="navbar">
          <h1>Assignment: Cars and Cats and Express, OH My!</h1>

        </div>
      </div>
      <div class="container">
        <h1>Cars</h1>
        <h2>Here are all the cars:</h2>

        <div class="cats">
          <img src="/img/banana.jpg" alt="">
          <img src="/img/dims.jpeg" alt="">
          <img src="/img/jims.jpeg" alt="">
        </div>

      </div>
    </div>
  </body>
</html>
